@font-face {
    font-family: 'JUN';
    src: url(../fonts/Jun_Regular.otf);
}

@font-face {
    font-family: 'Mr';
    src: url(../fonts/mr_hamiltoneg.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'JUN';
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/bg-gray.webp);
        opacity: 0.2;
    }
}

.wrap {
    max-width: 501px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: .5s;
    z-index: 100;
    background-color: white;
    overflow: hidden;
}

.preloader__inner {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preloader__text {
    font-size: 30px;
    font-family: 'JUN';
}

.heart {
    animation: heart 2s infinite ease;
}

#span1 {
    font-family: 'Felidae';
    letter-spacing: -10px;
    animation: span1 1.5s infinite linear;
    color: black;
    display: inline-block;
}

#span2 {
    font-family: 'Felidae';
    letter-spacing: -10px;
    animation: span2 1.5s infinite linear;
    color: black;
    display: inline-block;
}

#span3 {
    font-family: 'Felidae';
    letter-spacing: -10px;
    animation: span3 1.5s infinite linear;
    color: black;
    display: inline-block;
}

@keyframes span1 {
    0% {
        opacity: 0;
    }

    33% {
        opacity: 1;
    }

    66% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes span2 {
    0% {
        opacity: 0;
    }

    33% {
        opacity: 0;
    }

    66% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes span3 {
    0% {
        opacity: 0;
    }

    33% {
        opacity: 0;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes heart {
    0% {
        transform: scale(1.0);
    }

    25% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1.2);
    }

    75% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1.0);
    }
}

.loader {
    position: relative;
    width: 40px;
    height: 60px;
    animation: heart 1.5s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    margin-bottom: 20px;
}

.loader:before,
.loader:after {
    content: "";
    background: #ff3d00;
    width: 40px;
    height: 60px;
    border-radius: 50px 50px 0 0;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: rotate(45deg);
    transform-origin: 50% 68%;
    box-shadow: 5px 4px 5px #0004 inset;
}

.loader:after {
    transform: rotate(-45deg);
}

.header {
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 1050px;

    &__name {
        display: block;
        margin: 0 auto;
        max-width: 192px;
        padding-top: 80px;
    }

    &__hand {
        display: block;
        width: 100%;
    }

    &__bottom {
        padding-bottom: 20px;
    }

    &__bottom-text {
        text-align: center;
        font-family: 'Mr';
        font-size: clamp(1.75rem, 0.424rem + 6.63vw, 2.5rem);
        margin-bottom: 15px;
    }

    &__bottom-date {
        text-align: center;
        font-size: clamp(1.125rem, 0.02rem + 5.52vw, 1.75rem);
        padding-top: 80px;
    }
}

.timer {
    display: flex;
    justify-content: center;
    text-align: center;
    column-gap: 40px;

    &__block {
        p {
            font-size: clamp(1.25rem, -0.076rem + 6.63vw, 2rem);
        }

        span {
            font-size: clamp(0.938rem, 0.385rem + 2.76vw, 1.25rem);
        }
    }
}

.invite {
    padding-top: 60px;
    padding-bottom: 80px;
    position: relative;
    z-index: 2;

    &__title {
        margin-bottom: 20px;
        font-family: 'Mr';
        text-align: center;
        font-size: clamp(2.875rem, 0.665rem + 11.05vw, 4.125rem);
    }

    &__subtitle {
        text-align: center;
        font-size: clamp(0.938rem, 0.385rem + 2.76vw, 1.25rem);
    }
}

.mb-15 {
    margin-bottom: 15px;
}

.calendar {
    position: relative;
    z-index: 2;
    padding-bottom: 40px;

    &__img {
        display: block;
        width: 100%;
        max-width: 410px;
        padding: 0 20px;
        margin: 0 auto;
    }
}

.place {
    position: relative;
    z-index: 2;
    padding-bottom: 80px;

    &__title {
        font-size: clamp(2.625rem, 0.968rem + 8.29vw, 3.563rem);
        text-align: center;
        font-family: 'Mr';
        margin-bottom: 20px;
    }

    &__content {
        text-align: center;
    }

    &__name {
        font-size: clamp(1.063rem, 0.289rem + 3.87vw, 1.5rem);
        margin-bottom: 10px;
    }

    &__address {
        margin-bottom: 20px;
        font-size: clamp(0.938rem, 0.385rem + 2.76vw, 1.25rem);
    }

    &__link {
        text-decoration: none;
        font-size: clamp(0.938rem, 0.385rem + 2.76vw, 1.25rem);
        color: #000;
        border: 1px solid #000;
        border-radius: 50px;
        padding: 13px 35px;
        display: inline-block;
        margin-top: 20px;
    }

}

.mb-35 {
    margin-bottom: 35px;
}

.timing {
    position: relative;
    z-index: 2;
    padding-bottom: 80px;

    &__title {
        margin-bottom: 15px;
        font-family: 'Mr';
        text-align: center;
        font-size: clamp(2.875rem, 0.665rem + 11.05vw, 4.125rem);
    }

    &__img {
        width: 100%;
        display: block;
        padding: 0 20px;
    }
}

.mb-40 {
    margin-bottom: 40px;
}

.wish {
    padding-bottom: 80px;
    position: relative;
    z-index: 2;

    &__title {
        font-size: clamp(2.625rem, 0.968rem + 8.29vw, 3.563rem);
        text-align: center;
        font-family: 'Mr';
        margin-bottom: 20px;
    }

    &__text {
        text-align: center;
        font-size: clamp(0.938rem, 0.385rem + 2.76vw, 1.25rem);
    }

    &__icon {
        display: block;
        margin: 0 auto;
        margin-top: 30px;
    }
}

.mb-10 {
    margin: 10px;
}

.rsvp {
    position: relative;
    z-index: 2;
    padding-bottom: 80px;

    &__title {
        font-size: clamp(2.625rem, 0.968rem + 8.29vw, 3.563rem);
        text-align: center;
        font-family: 'Mr';
        margin-bottom: 20px;
    }
}

.form {
    width: 100%;
    padding: 0 20px;

    &__group {
        margin-bottom: 40px;
    }

    &__title {
        margin-bottom: 15px;
        font-size: clamp(0.938rem, 0.385rem + 2.76vw, 1.25rem);
    }

    &__group input[type='text'] {
        width: 100%;
        border: none;
        border-bottom: 1px solid #000;
        padding-bottom: 3px;
        font-family: 'JUN';
        font-size: clamp(0.875rem, 0.433rem + 2.21vw, 1.125rem);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0;

        &::placeholder {
            color: #8D8D8D;
        }
    }

    &__radio-group {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        width: 100%;
        column-gap: 14px;

        &:last-child {
            margin-bottom: 0;
        }

        span {
            font-size: clamp(0.875rem, 0.433rem + 2.21vw, 1.125rem);
        }

        input {
            width: 20px;
            height: 20px;
            accent-color: #000;
        }
    }

    &__submit {
        display: flex;
        justify-content: center;
    }

    &__button {
        background-color: transparent;
        border: 1px solid #000;
        color: #000;
        font-size: clamp(0.938rem, 0.385rem + 2.76vw, 1.25rem);
        border-radius: 50px;
        padding: 13px 35px;
        font-weight: normal;
        font-family: 'JUN';
        cursor: pointer;
    }
}

.footer {
    position: relative;
    z-index: 2;

    &__img {
        display: block;
        width: 100%;
    }
}

@media (min-width: 501px) and (max-height: 850px) {
    .header__name {
        padding-top: 30px;
    }

    .header__bottom-date {
        padding-top: 50px;
    }
}

@media (min-width: 501px) and (max-height: 768px) {
    .header {
        height: 790px;
    }
}

@media (max-width: 500px) and (max-height: 900px) {
    .header__name {
        padding-top: 50px;
    }
}

@media (max-width: 500px) and (max-height: 850px) {
    .header__bottom-date {
        padding-top: 50px;
    }
}

@media (max-width: 500px) and (max-height: 800px) {
    .header__name {
        padding-top: 30px;
    }

    .header__bottom-date {
        padding-top: 40px;
    }
}

@media (max-width: 500px) and (max-height: 750px) {
    .header {
        height: 780px;
    }
}

@media (max-width: 450px) and (max-height: 750px) {
    .header {
        height: 100svh;
    }

    .header__name {
        max-width: 162px;
    }

    .timer {
        column-gap: 30px;
    }

}

@media (max-width: 450px) and (max-height: 700px) {
    .header {
        height: 730px;
    }
}

@media (max-width: 400px) {
    .place__map iframe {
        height: 300px;
    }

    .form__radio-group input {
        width: 17px;
        height: 17px;
    }
}

@media (max-width: 350px) {
    .header__name {
        max-width: 162px;
    }

    .header {
        height: 100svh;
    }

    .form {
        padding: 0 15px;
    }
}

@media (max-width: 350px) and (max-height: 600px) {
    .header__name {
        padding-top: 20px;
    }

    .header {
        height: 580px;
    }
}